.window{
    display: flex;
    position: fixed;
    
    z-index: 9;
    flex-direction: column;
    align-items: center;

    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px; 
    margin-left: -300px;

    background-color: rgba(224,223,227,255);
    box-shadow: inset 0 0 1em rgb(61, 61, 60), 0 0 1em rgb(97, 95, 95);

    color: rgb(34, 32, 32);

   

    .button-exit, .button-accept{
            height: fit-content;
            position: absolute;
        
            padding: .14rem 1rem;
        
            border: 2px solid rgb(79, 85, 85);;
        
            color: black;
            text-align: center;

            transition: all 0.4s ease;
        
            &:hover{
              background-color:  rgb(79, 85, 85);
        
              color: white;
              
              cursor: pointer;
            }        
    }

    .button-exit {
      right: 20px;
      top: 20px;
    }

    .button-accept {
      right: 20px;
      bottom: 20px;
    }



    @media screen and (max-width:850px){
        flex-direction: column;
        width: 100%;
        height: 100vh;
        left: 0px;
        bottom:0px;
        margin-top: -100%; 
        margin-left: 0px;
     } 

     h1{
       position: absolute;
        top: 20px;
        left: 20px;
        margin-bottom: 10px;
        @media screen and (max-width:850px){
          margin-top: 40px;
        }
     }

    .window__content{
      width: 550px;
      margin-top: 70px;
      max-height: 80%;
      overflow-y:scroll;
      overflow-x:hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      @media screen and (max-width:850px){
       width: 90%;
       height: 95vh;
     } 
      &::-webkit-scrollbar {
       display: none;
      } 
      
      h1{
        color: rgb(103, 97, 97);
        text-align: left;
        font-size: 27px;
        letter-spacing: 2px;
        font-weight: 600;
      }

      h2{
        font-weight: 300;
        color: rgb(63, 58, 58);
      }
      
      p{
        padding: 1rem 4rem;

        line-height: 23px;
        text-align: left;
      }

      b {
        &:hover {
          color: rgb(161, 156, 156);
          transition: all .3s ease-in-out;
          cursor: pointer;
        }
      }

      li {
        padding-left: 1.2rem;
        padding-right: 3rem;

        margin-top: 10px;
      }
    

      .my-form{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        border: .01rem solid rgba(194, 189, 189, .9);
        padding:.8rem .0rem;

        @media screen and (max-width:850px){
          flex-direction: column;
        }       
      }
  }
}

select{
  background-color: rgba(224,223,227,255);
  margin: 4px;
  width:100%;
  padding: 3px 0px;
  text-align: center;
  color: rgb(103, 97, 97);
  font-size: 15px;

  @media screen and (max-width:850px){
    width: 97%;
  } 
}
input{
  font-size: 15px;
  color: rgb(103, 97, 97);
  background-color: rgba(224,223,227,255);
  border: .02rem solid gray;
  margin: 4px;
  padding: 3px 0px;
  text-align: center;
  width: 100%;

  @media screen and (max-width:850px){
    width: 97%;
  } 
  &:focus {
    outline: 0;
    border-color: #5f1d1d;
  }
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Dodaj swoje CV';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  padding: 5px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;

  margin-left: 5px;
  
  @media screen and (max-width:850px){
    padding: 5px 2px;
  } 
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.button-apply{
    width: 100px;
    height: fit-content;

    padding: .5rem;
    margin: 20px 0;

    border: 1px solid rgb(109, 116, 116);
    background-color: transparent;

    transition: all 0.4s ease;
        
    color: black;
    text-align: center;

    &:hover{
      background-color:  rgb(79, 85, 85);

      color: white;
      
      cursor: pointer;
    }   
}