.Contact{
    width: 100%;
    min-height: 100vh;

    flex-direction: column;

    background-color: rgb(246, 250, 242);

    letter-spacing: 4px;

    .Contact__form{
        flex-direction: column;
        position: relative;

        h1{
            font-size: 25px;

            @media screen and (max-width:950px){
                font-size: 20px;
            }
        }

        .Contact__logo{
            position:absolute;
            top:30px;
            right: 30px;

            font-size: x-large;
            font-weight: 900;

            @media screen and (max-width:950px){
                top:15px;
                right: 15px;

                font-size: large;
                font-weight: 700;
             }

             &:hover{
                 cursor: pointer;
                 color: rgb(92, 87, 87);
             }
        }
       
        form{
            flex-direction: column;
            width: 100%;

            input {
                width: 65%;
                height: 35px;

                margin-top: 7px;
                text-align: left;
                text-indent: 5px;
                font-size: 12.6pt;

                border: solid 1.5px #D3D3D3;

                -webkit-transition: 1s; /* Safari */
                transition: 1s;

                @media screen and (max-width:950px){
                    width: 85%;
                 }

              }
              textarea,input[type=text]:hover{
                box-shadow: 0 0 5pt 0.5pt #D3D3D3;
              }
              textarea,input[type=text]:focus {
                box-shadow: 0 0 5pt 2pt #D3D3D3;
                outline-width: 0px;
              }

              textarea{
                width: 65%;
                height: 200px;
                margin-top: 7px;
                text-align: left;
                text-indent: 5px;
                font-size: 12.6pt;
                border: solid 1.5px #D3D3D3;
                -webkit-transition: 1s; /* Safari */
                transition: 1s;  
                
                @media screen and (max-width:950px){
                    width: 85%;
                 }
                
              }

              button{
                width: 150px;
                height: fit-content;
                margin-top: 2rem;
            
                padding: .7rem;
                text-align: center;
            
                border: 2px solid black;
            
                color: black;
            
                &:hover{
                  background-color: black;
            
                  color: white;
                  
                  cursor: pointer;      
                }
                @media screen and (max-width:950px){
                   width: 120px;

                   padding: .4rem;
                 } 
              }
        }

        background-color: rgb(241, 241, 241);

        width: 800px;
        height: 90vh;

        @media screen and (max-width:950px){
            width: 100%;
            height: 100vh;
         }  

    }
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}