.Contact{
    width: 100%;
    min-height: 100vh;

    flex-direction: column;

    background-color: rgb(246, 250, 242);

    letter-spacing: 4px;

    h3{
      margin-bottom: 70px;
      font-size: 22px;
    }

    .Contact__form{
        position: relative;
        border-radius: 10px;

        .Contact__help{
          flex-direction: column;

          height:100vh ;
          width: 100%;

          .Contact__help-number{
            margin-left: 20px;
            width: fit-content;
            padding: .5rem;

            border: solid 1.5px #D3D3D3;
            border-radius: 20px;

            letter-spacing: 2px;
          }
        }



        .Contact__logo{
            position:absolute;
            top:30px;
            right: 30px;

            font-size: x-large;
            font-weight: 900;

            @media screen and (max-width:950px){
                top:15px;
                right: 15px;

                font-size: large;
                font-weight: 700;
             }

             &:hover{
                 cursor: pointer;
                 color: rgb(92, 87, 87);
             }
        }


       
        form{
            flex-direction: column;
            width: 100%;
            height: auto;

            input {
                width: 65%;
                height: 35px;

                margin-top: 7px;
                text-align: left;
                text-indent: 5px;
                font-size: 12.6pt;

                border: none;
                border-bottom: solid 1.5px #D3D3D3;
                background-color: rgb(241, 241, 241);
                -webkit-transition: 1s; /* Safari */
                transition: 1s;

                @media screen and (max-width:950px){
                    width: 80%;
                 }

              }
              textarea,input[type=text]:hover{
                box-shadow: 0 0 5pt 0.5pt #D3D3D3;
              }
              textarea,input[type=text]:focus {
                box-shadow: 0 0 5pt 2pt #d3d3d3;
                outline-width: 0px;
              }

              textarea{
                width: 65%;
                height: 200px;
                margin-top: 12px;
                text-align: left;
                text-indent: 5px;
                font-size: 12.6pt;
                border: none;
                border-bottom: solid 1.5px #D3D3D3;
                background-color: rgb(241, 241, 241);
                -webkit-transition: 1s; /* Safari */
                transition: 1s;  
                
                @media screen and (max-width:950px){
                    width: 80%;
                 }
                
              }

              button{
                width: 150px;
                height: fit-content;
                margin: 2rem;
   
            
                padding: .7rem;
                text-align: center;
            
                border: solid 1.5px #D3D3D3;
            
                color: black;
            
                &:hover{
                  background-color: black;
            
                  color: white;
                  
                  cursor: pointer;      
                }
                @media screen and (max-width:950px){
                 
                 } 
              }
        }

        background-color: rgb(241, 241, 241);

        width: 80%;
        min-height: 90vh;

        @media screen and (max-width:950px){
            flex-direction: column;
            width: 100%;
            min-height: 100vh;
         }  

    }
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}