.Image{
    width: 100%;
    min-height: 100vh;

    background-color:rgba(224,223,227,255);
    text-align: center;

    .Image-left, .Image-right{
        flex-direction: column;
        width: 50%;
        height: 100vh;

        @media screen and (max-width:950px){
            width: 100%;
            height: 700px;
        }
    }
    .Image-left{
        h1{
            margin:0px 100px;
            letter-spacing: 4px;
        }
        p{
            padding: 4.5rem;
            color: rgba(88, 70, 70,.6);
            text-align: center;
        }
    }
    .Image-right{
        background-image: url("../../../images/image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        font-size: larger;  
        color: rgb(221, 202, 202);
        text-align: center;

        p{
            padding: 2rem;
        }
    }

    @media screen and (max-width:950px){
       flex-direction: column;
    }
}