.Services{
    width: 100%;
    min-height:100vh;

    background-color: rgb(246, 250, 242);

    .Services__content{
        width: 70%;

        flex-direction: column;

        @media screen and (max-width:950px){
            margin-top: 50px;     
        }

        .Services__content-items{
            margin-top: 90px;

            flex-wrap:wrap;
            height: fit-content;

            @media screen and (max-width:950px){
                flex-direction: column;     
             }
        }
    }
}