.Services{
    width: 100%;
    min-height:100vh;
    z-index: 10;

    background-color: rgb(246, 250, 242);

    .Services__content{
        width: 100%;

        margin-top: 50px;

        flex-direction: column;


        .Services__content-items{
            margin: 50px 0px;

            flex-wrap:wrap;
            height: fit-content;

            @media screen and (max-width:950px){
                flex-direction: column;     
             }
        }
    }
}