.Flexible{
    width: 100%;
    height: 100vh;

    background-color: rgb(246, 250, 242);

    .Flexible__content{
        width: 60%;

        flex: start;

        h1{
            font-size: 30px;
            letter-spacing: 3px;
        }

        .text{
            width:550px;
        }

        .Flexible__content__main{
            display: flex;

           .Flexible__content__main-box{
               display: flex;
               flex-direction: column;

               width: max-content;
               min-height: 240px;

               background-color: rgba(219, 224, 214, 0.788);
               border-radius: 10px;

               margin: 2rem 2rem 1rem 0rem;
               padding: 1rem;

               h2{
                font-size: 18px;
               }

               text{
                   opacity: .4;
               }
           } 
        }
    }

}