.App{
  font-family: sans-serif;
  background-color: rgb(246, 250, 242);

  h1{
    font-family: 'Roboto Condensed',sans-serif;
  }

  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button{
    width: 150px;
    height: fit-content;

    padding: .7rem;

    border: 2px solid black;

    color: black;
    text-align: center;

    &:hover{
      background-color: black;

      color: white;
      
      cursor: pointer;
    }
  }

  a{
    color: white;
    text-decoration: none;
  }
  .hr-style{
    width:60%;
    height:.05rem;
    color:grey;
    border:0px;
    background-color:grey;

    @media screen and (max-width:950px){
     width: 100%;
   }
  }
}