body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(49, 47, 47);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}

.disable-selection {
  -webkit-touch-callout: none; /* iOS Safari                           */
    -webkit-user-select: none; /* Safari                               */
     -khtml-user-select: none; /* Konqueror HTML                       */
       -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
        -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
            user-select: none; /* Aktualnie wspierane przez:           */
                               /* Chrome, Opera and Firefox            */
}